[mysqld]
port=21000
socket=/da00/d61/sidrao/mysql.sock
basedir=/da00/d61/sidrao/mysql
datadir=/da00/d61/sidrao/mysql-data
innodb=off
default-storage-engine=myisam
[client]
port=21000
socket=/dw00/d61/sidrao/mysql.sock
