body {
	margin: 0;
	padding: 0;
	font-size: 12pt;
	font-family: "helvetica"
}

#header {
	background-color: #63b82e;
	height: 9%;
}

#heading {
	font-size: 2.5em;
	font-family: "lucida console";
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	color: #FFFFFF;
	text-decoration: none;
}

#signup_area, #login {
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	padding: 10pt;
}



#form_controls {
	padding: 0;
	margin-top: 30px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

#login {
	width: 30%;
	margin-top: 50px;
	font-size: 18pt;
	border-radius: 5px;
}

#login label {
	font-size: 16pt;
	text-align: left;
}

.form_input {
	border-radius: 5px;
	background-color: #F0F0F0;
	font-size: 18pt;
	border: 1px solid #A0A0A0;
	color: #606060;
	margin-bottom: 0.5em;
}

#page_message, #signInArea {
	color: #606060;
}

#signInArea {
	margin-top: 20px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.labels {
	display: block;
}

.button_green, .button_normal{
	color: #FFFFFF;
	font-size: 20px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
}

.button_normal {
	background-color: #F0F0F0;
	color: #000000;
	font-size: 15px;
}

.button_green {
	background-color: #63b82e; 
}

#page_message {
	text-align: center;
	font-size: 2em;
	width: 80%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}
